.venv/
**/.venv/
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
.env
*.db
data/alerts/
**/data/alerts/
**/data/live/*.jpg
**/data/live/*.tmp.jpg

**/data/live/
**/data/live/*.jpg
**/data/live/*.tmp.jpg
